@use "tools" as *;

.site-header {
	margin: 0;
	position: relative;


	&__logo {
		font-family: unset;
		font-size: unset;
		line-height: 1;
		margin: 0;
	}

	&__logo-link {
		color: unset;
		display: inline-block;
	}

	&__icon {
		width: auto;
	}

	&:where(.post-template) {
		background-color: black;
	}
}

.site-header__container {
	height: 77px;
	align-content: center;
}
  


.post-header .site-header__inner {
	@media screen and (min-width: 680px) {
	position: relative;
    display: flex;
    justify-content: space-between;
	background-color: var(--wp--custom--color--surface--default);
	max-width: var(--wp--custom--layout--post);
	border-radius: 1000px;
	padding: 16px 48px 16px 48px;
	height: var(--wp--custom--spacing--sticky-height);
	z-index: 10; /* Ensure it stays on top */
	box-shadow: 0px 10px 15px -3px rgba(203, 203, 203, 0.10),
 	  0px 4px 6px -4px rgba(203, 203, 203, 0.10);
	}
 
  }


  .post-header .site-header__container {
	@media screen and (min-width: 680px) {
	height: auto;
    align-content: center;
    position: fixed;
    z-index: 100;
    margin-top: 16px;
    width: 100%;
  }
}


.wp-block-navigation-item__label::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px; /* Thickness of the line */
	width: 0; /* Start with no width */
	background-color: var(--wp--custom--color--text--primary); /* Adjust the line color */
	transition: width 0.3s ease; /* Smooth scaling animation */
  }
  
  /* Hover effect to scale the line */
  .wp-block-navigation-item__label:hover::after {
	width: 100%; /* Line grows to the full width of the text */
  }
  
  
  .wp-block-navigation-item__label.current-menu-item::after {
	width: 100%; /* Fix the line to the full width */
	background-color: var(--wp--custom--color--surface--primary);

  }


	// end of styling insert //

