@use "tools" as *;

.site-header {
	margin: 0;
	position: relative;


	&__logo {
		font-family: unset;
		font-size: unset;
		line-height: 1;
		margin: 0;
	}

	&__logo-link {
		color: unset;
		display: inline-block;
	}

	&__icon {
		width: auto;
	}

	&:where(.post-template) {
		background-color: black;
	}
}

.site-header__container {
	height: 77px;
	align-content: center;
}
  


.post-header .site-header__inner {
	@media screen and (min-width: 680px) {
	position: relative;
    display: flex;
    justify-content: space-between;
	background-color: var(--wp--custom--color--surface--default);
	max-width: var(--wp--custom--layout--post);
	border-radius: 1000px;
	padding: 16px 48px 16px 48px;
	height: var(--wp--custom--spacing--sticky-height);
	z-index: 10; /* Ensure it stays on top */
	box-shadow: 0px 10px 15px -3px rgba(203, 203, 203, 0.10),
 	  0px 4px 6px -4px rgba(203, 203, 203, 0.10);
	}
 
  }


  .post-header .site-header__container {
	@media screen and (min-width: 680px) {
	height: auto;
    align-content: center;
    position: fixed;
    z-index: 100;
    margin-top: 16px;
    width: 100%;
  }
}


/* .wp-block-navigation-item__label {
	position: relative;
	display: inline-block;
	padding: 5px 5px;
	font-size: var(--wp--preset--font-size--xl);
	text-decoration: none;
	transition: color 0.3s ease; 
}

.wp-block-navigation-item__label::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px; 
	border-radius: 2px; 
	width: 0; 
	background-color: var(--wp--custom--color--surface--primary); 
	transition: width 0.3s ease; 
}

.wp-block-navigation-item__label:hover::after {
	width: 100%; 
}

.is-current-menu.active::after {
	width: 100%; 
	background-color: var(--wp--custom--color--surface--primary);
} */

.site-header {
	@media screen and (min-width: 800px) {

	.wp-block-navigation-item__content {
		position: relative;
		display: inline-block;
		padding: 5px 0px;
		margin: 0px 4px;
		font-size: var(--wp--preset--font-size--xl);
		text-decoration: none;
		transition: color 0.3s ease;

		&:hover {
			text-decoration: none;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3px; 
			border-radius: 2px; 
			width: 0; 
			background-color: var(--wp--custom--color--text--primary); 
			transition: width 0.3s ease; 

		}

		&:hover::after,
		&:focus-within::after {
			width: 100%; 
			
		}
	}
	

	.current-menu-item > .wp-block-navigation-item__content {
		&::after {
			width: 100%; 
			background-color: var(--wp--custom--color--surface--primary);
			
		}
	}
}
}


.wp-block-navigation-item {
	@media screen and (max-width: 800px) {
		position: relative;
		font-size: var(--wp--preset--font-size--4-xl) !important;
		padding: var(--wp--custom--spacing--edge);
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 2px;
			width: calc(100% - (var(--wp--custom--spacing--edge) * 2));
			background-color: var(--wp--custom--color--border--default)
		}
	}
}

.wp-block-navigation-container {
	@media screen and (max-width: 800px) {
	margin-block-start: var(--wp--custom--spacing--group-gap);
	margin-block-end: var(--wp--custom--spacing--group-gap);
}
}
