.wp-block-columns {
	align-items: initial !important;
	display: flex;

	&:where(:not([class^="is-stacked-on"])) {
		flex-direction: column;
	}

	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}

	&:where(.is-reversed-when-stacked) {
		flex-direction: column-reverse;
	}

	&:where(.is-stacked-on-sm) {
		@media ( --sm ) {
			flex-direction: row;
		}
	}

	&:where(.is-stacked-on-md),
	&:where(:not([class*="is-stacked-on"])) {
		@media ( --md ) {
			flex-direction: row;
		}
	}

	&:where(.is-stacked-on-lg) {
		@media ( --lg ) {
			flex-direction: row;
		}
	}
}
