@use "tools" as *;

.wp-block-button {
	--width-gap: var(--wp--preset--spacing--md);

	&:where(.has-custom-width) {
		max-width: none;

		.wp-block-button__link {
			width: 100%;
		}
	}

	&:where(.wp-block-button__width-25) {
		width: calc(25% - (var(--width-gap) * 0.75));
	}

	&:where(.wp-block-button__width-50) {
		width: calc(50% - (var(--width-gap) * 0.5));
	}

	&:where(.wp-block-button__width-75) {
		width: calc(75% - (var(--width-gap) * 0.25));

	}

	&:where(.wp-block-button__width-100) {
		flex-basis: 100%;
		width: 100%;
	}

	:where(.is-vertical) > & {
		--width-gap: 100%;
	}
}


.wp-element-button,
.wp-block-button__link {
	@include button-base;
	@include button-style(primary);
}



.is-style-bordered { 
	.wp-block-button__link {
		background-color: var(--wp--custom--color--surface--default, #fff);
		border: 2px solid var(--wp--custom--color--text--primary, #000);
		border-radius: 999px; 
		color: var(--wp--custom--color--text--primary, #000);
		overflow: hidden;
		position: relative;
		display: inline-block;
		transition: color 0.4s ease-out;
		z-index: 1;

		@media screen and (max-width: 680px)  {
			width: 100% !important;
		}

		&::before {	
			content: '';
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: var(--wp--custom--color--text--primary, #000);
			z-index: -1; /* Ensure background is below text */
			transition: left 0.4s ease-out;
		}

		&:hover::before {	
			left: 0;
		}

		&:hover {
			color: var(--wp--custom--color--surface--default, #fff); /* Set text color on hover */
		}
	}
}

.is-style-underline { 
	.wp-block-button__link {
		padding: 0;
		background-color: transparent;
		color: var(--wp--custom--color--text--primary);
		position: relative;

		&::after {
			position: absolute;
			bottom: -12px; /* Adjust this value to offset the underline */
			left: 0;
			width: 100%;
			height: 2px; /* Thickness of the underline */
			background-color: var(--wp--custom--color--text--primary); /* Match text color */
			transform: scaleX(1); /* Visible by default */
			transform-origin: left;
			transition: transform 0.3s ease;
			content: ""; /* Add this line to fix the issue */
		}

		&:hover::after {
			transform: scaleX(0); /* Hides underline on hover */
			transform-origin: right;
		}

	}

}

	@media screen and (max-width: 680px) {
		.is-style-bordered {
			flex-direction: column;
			width: 100%;
		}

		.wp-block-buttons.is-content-justification-right  {
			justify-content: center !important;
			gap: var(--wp--preset--spacing--md);
		}

		.mobile-full {
			width: 100% !important;
		}

	}

